<script src="/plugins/volvooncall/core/template/js/moment.js"></script>
<div class="cmd cmd-widget #history#" data-type="info" data-subtype="string" data-template="tile" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
	<div class="title #hide_name#">
		<div  class="cmdName">#name_display#</div>
	</div>
	<div class="content-sm">
		<span class="pull-right state"></span>
	</div>
	<script>
		jeedom.cmd.update['#id#'] = function(_options){
          if (_options.display_value <= 0) {
            $('.cmd[data-cmd_id=#id#] .state').hide();
          }
          else {   
            let duree = '#state#';
            let time = moment().add(duree, 'm').format('HH:mm');

            $('.cmd[data-cmd_id=#id#] .state').show();
            $('.cmd[data-cmd_id=#id#] .state').append('<span style="color:black; font-size: 24px;">'+ time +'</span>');
          }
		
          $('.cmd[data-cmd_id=#id#]').attr('title','{{Date de valeur}} : '+_options.valueDate+'<br/>{{Date de collecte}} : '+_options.collectDate)
        }
		jeedom.cmd.update['#id#']({display_value:'#state#',valueDate:'#valueDate#',collectDate:'#collectDate#',alertLevel:'#alertLevel#'});
	</script>
</div>